label {
    font-weight:bold;
    width:100px;
    font-size:14px;
    padding:2%;
}

.box {
    border:#666666 solid 1px;
}

body {

    bgcolor: "#FFFFFF";
    margin: auto;
    width: 30%;
    padding: 20px;
}
form{
    margin-top:10px;

}

.wrapper {

    width:300px;
    border: solid 1px #333333;
    font-size:11px;
    margin-top:10px;

}
.title{
    background-color:#333333;
    color:#FFFFFF;
    padding:4px;
}
.error{
    font-size:11px;
    color:#cc0000;
    margin-top:10px;
}