#wrapper {  position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -100px;
    text-align:center;


}
table, td {
    align-content: center;
    align-self: center;
}
th{
    align: right;
}
button{
    width: 100px;
}
.container { 
    position:relative;
 padding:0 0 0 11%;
 align-self: center;
text-align:center;
  }
#sidebar {
    border:2px solid #000; 
    position:absolute;
    top:0; 
    bottom:0; 
    left:0;
    width:10%;
    padding-top: 2%;
}

#header { 
    border:2px solid #000; 
    width:90%;
     height:20%; 
    margin:0 0 5px 0;
}
#content {
    border:2px solid #000; 
    width:90%;
    min-height: 500px;
     height:90%;
    margin:5px 0 5px 0;

}
#footer {
     border:2px solid #000; 
    width:90%; 
    height:20%;
    margin:5px 0 0 0;
    min-height: 50px;
}